@model MVCTask_08_09_2018.ViewModels.EmployeeFormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Employee.Id)

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Employee.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Employee.FirstName, new { htmlAttributes = new { @class = "form-control autocomplete" } })
                @Html.ValidationMessageFor(m => m.Employee.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Employee.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Employee.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Employee.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Employee.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.SexId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Employee.SexId, new SelectList(Model.Sexes, "Id", "Type"), "Select Sex", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.SexId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Employee.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Department", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Employee.ProgrammingLanguageId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Employee.ProgrammingLanguageId, new SelectList(Model.ProgrammingLanguages, "Id", "Name"), "Select Programming Language", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.ProgrammingLanguageId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Model.SubmitName" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "ListOfEmployees", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/Site.js"></script>
    <script>
        $.ajax({
            url: "/GetNames",
            success: function (result) {
                autocomplete(document.getElementById("Employee_FirstName"), result);
                autocomplete(document.getElementById("Employee_LastName"), result);
            }
        });
    </script>
}
